* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #607D8B;
}
.areaTela {
    background-color: #607D8B;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    padding: 3rem;
}

.tituloPagina {
    font-size: 3rem;
    text-shadow: 1px 1px 2px;
}

.areaCalculadora {
    background-color: #BDBDBD;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 3px 3px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.25rem;
}

.areaAdicaoNotas {
    font-size: 1.25rem;
}

.notaInput {
    font-size: 1.125rem;
    border-radius: 10px;
    padding: 5px;
    outline: none;
}

.adicionarBotao {
    font-size: 1.125rem;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.campoNotas {
    height: 20rem;
    background-color: #F5F5F5;
    border: 1px solid #212121;
    border-radius: 5px;
    padding: 5px;
    overflow: auto;
}

.campoNotas p{
    font-size: 1.25rem;
}

.botaoMedia {
    width: fit-content;
    font-size: 1.125rem;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.textoMedia {
    font-size: 1.25rem;
}